/* sheared style */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: #FFF;
    text-align: center;
    font-size: 1.26rem;
    font-weight: 600;
    padding:13px 20px;
    cursor: pointer;
    border: 0;
   

}

/* font family by google font */
*{
font-family: 'Work Sans', sans-serif;
}
/* header section stile */
/* nav */

header{
    background-color:rgba(255, 144, 14, 0.10);
    /* border: 2px solid black; */
    padding: 50px 150px;
    
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.nav-title{
    
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}
nav>ul{
    display: flex;
     list-style:none;
     font-size: 1rem;
    
}
nav li{
    margin-right: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}
nav li a{
    text-decoration: none;
    color:#424242 ;
}
/* banner */
.banner{
   align-items: center; 
}
.banner-content{
    display: block;
    max-width: 45vw;
    align-items: center; 
    margin: 0px auto;
    margin-bottom: 13px;
}  
.banner-title{
    text-align: center;
    font-size: 3.8rem;
}

.banner-description{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
#banner-btn{
    display: block;
    margin: 0 auto;
    text-align: center;
}
 .banner img {
    width: 100%;
    display: block;
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px;
   
} 
/* main section  */
main{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 5.3rem;
    
}
.teams-container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-left: 50px;
    max-width: 90%;
}
.tems-content{
    padding-left:70px ;
    padding-right:70px ;
}
.teams-content-title{
    font-size:2.8rem;
font-style: normal;
font-weight: 700;
}
.teams-content-descriptino{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* responsive style */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
        padding: 10px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .banner-title{
        font-size: 2.8rem;
        font-weight: 700;
    }
    .banner-content{
        max-width: 60vw;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        margin: auto;
    }
   

}
/* tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    nav, .teams-container{
        flex-direction: column;
    }
    
}
    

